.fundo {
    background-color: #fff;
}

/*Definido display grid para divisão do site*/
.parte-principal {
    background-color: #22212C;
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/*Definindo flex para a lateral*/
.classe-lateral {
    background-color: #22212C;
    height: 1780px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-left: 40px;
}

.perfil {
    position: relative;
    width: 348px;
    height: 292px;
    background-color:aqua;
}

.informacao {
    position: relative;
    width: 348px;
    height: 348px;
    background-color:aqua;
}

.tecnologias {
    position: relative;
    width: 348px;
    height: 208px;
    background-color: aquamarine;
}

.experiencias {
    position: relative;
    width: 348px;
    height: 349px;
    background-color: black;
}

.educacao {
    position: relative;
    width: 348px;
    height: 352px;
    background-color: aliceblue;
}