.fundo {
    background-color: #fff;
}

/*Definido display grid para divisão do site*/
.parte-principal {
    background-color: #22212C;
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/*Definindo flex para a lateral*/
.classe-lateral {
    background-color: #22212C;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-left: 40px;
}

.perfil {
    position: relative;
    width: 348px;
    height: 292px;
    background-color:var(--bg-cards);
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.perfil img {
    width: 128px;
    height: auto;
    border-radius: 50%;
    border: solid 3px rgba(0, 255, 0, 1);
    margin-top: 32px;
    margin-bottom: 25px;
}

.perfil p {
    font-weight: 700;
    font-size: 23px;
    line-height: 28.91px;
    color: var(--text-color);
}

.perfil span {
    font-weight: 300px;
    font-size: 13px;
    line-height: 16.34px;
    padding-bottom: 40px;
    color: var(--text-color)
}

.informacao {
    position: relative;
    width: 348px;
    height: auto;
    background-color:var(--bg-cards);
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-bottom: 30px;
}

.informacao-ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 20px;
    margin-top: 30px;
}

.li-flexbox {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-left: 40px;
    align-items: center;
}

.li-flexbox img {
    filter: invert(48%) sepia(10%) saturate(961%) hue-rotate(209deg) brightness(103%) contrast(82%);
}

.li-flexbox span {
    font-weight: 400;
    font-size: 13px;
    line-height: 16.34px;
}

.tecnologias {
    position: relative;
    width: 348px;
    height: 208px;
    background-color: var(--bg-cards);
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.tecnologias-p {
    font-weight: 700;
    font-size: 20px;
    line-height: 25.14px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.tecnologias-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 0 30px 30px 30px;
}

.tecnologias-grid-li {
    background-color: var(--bg-techs);
    border-radius: 25px;
    width: 86px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecnologias-grid-li span {
    font-weight: 700;
    font-size: 10px;
    line-height: 0px;
    color: rgba(0, 0, 0, 1);
}

.experiencias {
    position: relative;
    width: 348px;
    height: auto;
    background-color: var(--bg-cards);
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-bottom: 30px;
}

.experiencias p {
    font-weight: 700;
    font-size: 23px;
    line-height: 28.91px;
    color: var(--text-color);
    padding-top: 30px;
    padding-left: 20px;
}

.experiencias-lista {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.experiencias-lista li {
    font-weight: 300;
    font-size: 12px;
    line-height: 15.08px;
}

.experiencias-lista-li {
    margin-top: 20px;
    list-style-type: disc;
    font-weight: 700;
    font-size: 15px;
}

.experiencias-lista-descricao {
    margin-top: 20px;
    list-style-type: disc;
    font-weight: 700;
    font-size: 15px;
}

.experiencias-lista-detalhe {
    margin-top: 0px;
}

.educacao {
    position: relative;
    width: 348px;
    height: auto;
    background-color: var(--bg-cards);
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-bottom: 30px;
}

.educacao p {
    font-weight: 700;
    font-size: 23px;
    line-height: 28.91px;
    color: var(--text-color);
    padding-top: 30px;
    padding-left: 20px;
}

.educacao-lista {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.educacao-lista li {
    font-weight: 300;
    font-size: 12px;
    line-height: 15.08px;
}

.educacao-lista-li {
    margin-top: 20px;
    list-style-type: disc;
    font-weight: 700;
    font-size: 15px;
}

.educacao-lista-descricao {
    margin-top: 20px;
    list-style-type: disc;
    font-weight: 700;
    font-size: 15px;
}

.educacao-lista-detalhe {
    margin-top: 0px;
}