.parte-conteudo {
    background-color: #22212C;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-left: 60px;
}

.pesquisa {
    position: relative;
    width: 952px;
    height: 86px;
    background-color: brown;
}

.projeto-flex {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.projeto-1 {
    position: relative;
    width: 461px;
    height: 186px;
    background-color: chartreuse;
}

.projeto-2 {
    position: relative;
    width: 461px;
    height: 186px;
    background-color: chartreuse;
}

.projeto-recente {
    position: relative;
    width: 952px;
    height: 86px;
    background-color: blueviolet;
}

.sobre {
    position: relative;
    width: 952px;
    height: 201px;
    background-color: blue;
}